/* Header.css */

.custom-navbar {
    background-color: #0000FF;
    padding: 20px;
}

.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-brand {
    color: #fff;
    margin-right: 20px;
}

.custom-nav {
    display: flex;
    align-items: center;
}

.custom-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.custom-link:hover {
    color: #ccc;
}
