.book-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.book-item:hover {
    background-color: #f0f8ff;
}

.book-item .delete-button {
    display: none;
}

.book-item:hover .delete-button {
    display: inline-block;
}

.book-title {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
    background: #dc3545;
}
.mx-2 {
    margin-left: 5px;
    margin-right: 5px;
    background: yellow;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.mt-3 {
    margin-top: 1rem;
}

